<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Doctor Panel</title>
    <link rel="shortcut icon" type="image/png" href="~/assets/img/logo-2.png" />
    <link rel="stylesheet" href="~/panel/css/styles.min.css" />
</head>

<body>

    <style>
        /* Import Google font - Poppins */
        url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: "Poppins", sans-serif;
        }

        a {
            text-decoration: none;
        }

        .header {
            position: fixed;
            height: 80px;
            width: 100%;
            z-index: 100;
            padding: 0 20px;
        }

        .nav {
            max-width: 1100px;
            width: 100%;
            margin: 0 auto;
        }

        .nav,
        .nav_item {
            display: flex;
            height: 100%;
            align-items: center;
            justify-content: space-between;
        }

        .nav_logo,
        .nav_link,
        .button {
            color: #fff;
        }

        .nav_logo {
            font-size: 25px;
        }

        .nav_item {
            column-gap: 25px;
        }

        .nav_link:hover {
            color: #d9d9d9;
        }

        .button {
            padding: 6px 24px;
            border: 2px solid #fff;
            background: transparent;
            border-radius: 6px;
            cursor: pointer;
        }

            .button:active {
                transform: scale(0.98);
            }

        /* Home */
        .home {
            position: relative;
            height: 100vh;
            width: 100%;
            background-image: url("bg.jpg");
            background-size: cover;
            background-position: center;
        }

            .home::before {
                content: "";
                position: absolute;
                height: 100%;
                width: 100%;
                background-color: rgba(0, 0, 0, 0.6);
                z-index: 100;
                opacity: 0;
                pointer-events: none;
                transition: all 0.5s ease-out;
            }

            .home.show::before {
                opacity: 1;
                pointer-events: auto;
            }
        /* From */
        .form_container {
            position: fixed;
            max-width: 320px;
            width: 100%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) scale(1.2);
            z-index: 101;
            background: #fff;
            padding: 25px;
            border-radius: 12px;
            box-shadow: rgba(0, 0, 0, 0.1);
            opacity: 0;
            pointer-events: none;
            transition: all 0.4s ease-out;
        }

        .home.show .form_container {
            opacity: 1;
            pointer-events: auto;
            transform: translate(-50%, -50%) scale(1);
        }

        .signup_form {
            display: none;
        }

        .form_container.active .signup_form {
            display: block;
        }

        .form_container.active .login_form {
            display: none;
        }

        .form_close {
            position: absolute;
            top: 10px;
            right: 20px;
            color: #0b0217;
            font-size: 22px;
            opacity: 0.7;
            cursor: pointer;
        }

        .form_container h2 {
            font-size: 22px;
            color: #0b0217;
            text-align: center;
        }

        .input_box {
            position: relative;
            margin-top: 30px;
            width: 100%;
            height: 40px;
        }

            .input_box input {
                height: 100%;
                width: 100%;
                border: none;
                outline: none;
                padding: 0 30px;
                color: #333;
                transition: all 0.2s ease;
                border-bottom: 1.5px solid #aaaaaa;
            }

                .input_box input:focus {
                    border-color: #7d2ae8;
                }

            .input_box i {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                font-size: 20px;
                color: #707070;
            }

                .input_box i.email,
                .input_box i.password {
                    left: 0;
                }

            .input_box input:focus ~ i.email,
            .input_box input:focus ~ i.password {
                color: #7d2ae8;
            }

            .input_box i.pw_hide {
                right: 0;
                font-size: 18px;
                cursor: pointer;
            }

        .option_field {
            margin-top: 14px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .form_container a {
            color: #7d2ae8;
            font-size: 12px;
        }

            .form_container a:hover {
                text-decoration: underline;
            }

        .checkbox {
            display: flex;
            column-gap: 8px;
            white-space: nowrap;
        }

            .checkbox input {
                accent-color: #7d2ae8;
            }

            .checkbox label {
                font-size: 12px;
                cursor: pointer;
                user-select: none;
                color: #0b0217;
            }

        .form_container .button {
            background: #7d2ae8;
            margin-top: 30px;
            width: 100%;
            padding: 10px 0;
            border-radius: 10px;
        }

        .login_signup {
            font-size: 12px;
            text-align: center;
            margin-top: 15px;
        }
    </style>

    <!--  Body Wrapper -->
    <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
         data-sidebar-position="fixed" data-header-position="fixed">
        <!-- Sidebar Start -->
        <aside class="left-sidebar">
            <!-- Sidebar scroll-->
            <div>
                <div class="brand-logo d-flex align-items-center justify-content-between">
                    <a asp-controller="home" asp-action="index" asp-area="" class="text-nowrap logo-img">
                        <img src="~/assets/img/logo.png" width="180" alt="" />
                    </a>
                    <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
                        <i class="ti ti-x fs-8"></i>
                    </div>
                </div>
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
                    <ul id="sidebarnav">
                        <li class="sidebar-item">
                            <a class="sidebar-link" asp-area="adminarea" asp-controller="dashboard" asp-action="index" aria-expanded="false">
                                <span>
                                    <i class="ti ti-layout-dashboard"></i>
                                </span>
                                <span class="hide-menu">Dashboard</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" asp-area="adminarea" asp-controller="appointment" asp-action="index" aria-expanded="false">
                                <span>
                                    <i class="ti ti-layout-dashboard"></i>
                                </span>
                                <span class="hide-menu">Appointments</span>
                            </a>
                        </li>
                        
                    </ul>

                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>
        <!--  Sidebar End -->
        <!--  Main wrapper -->
        <div class="body-wrapper">
            <!--  Header Start -->
            <header class="app-header">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <ul class="navbar-nav">
                        <li class="nav-item d-block d-xl-none">
                            <a class="nav-link sidebartoggler nav-icon-hover" id="headerCollapse" href="javascript:void(0)">
                                <i class="ti ti-menu-2"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link nav-icon-hover" href="javascript:void(0)">
                                <i class="ti ti-bell-ringing"></i>
                                <div class="notification bg-primary rounded-circle"></div>
                            </a>
                        </li>
                    </ul>
                    <div class="navbar-collapse justify-content-end px-0" id="navbarNav">
                        <ul class="navbar-nav flex-row ms-auto align-items-center justify-content-end">
                            <li class="nav-item dropdown">
                                <div class="dropdown-menu dropdown-menu-end dropdown-menu-animate-up" aria-labelledby="drop2">
                                    <div class="message-body">
                                        <a href="javascript:void(0)" class="d-flex align-items-center gap-2 dropdown-item">
                                            <i class="ti ti-user fs-6"></i>
                                            <p class="mb-0 fs-3">My Profile</p>
                                        </a>
                                        <a href="javascript:void(0)" class="d-flex align-items-center gap-2 dropdown-item">
                                            <i class="ti ti-mail fs-6"></i>
                                            <p class="mb-0 fs-3">My Account</p>
                                        </a>
                                        <a href="javascript:void(0)" class="d-flex align-items-center gap-2 dropdown-item">
                                            <i class="ti ti-list-check fs-6"></i>
                                            <p class="mb-0 fs-3">My Task</p>
                                        </a>
                                        <a href="./authentication-login.html" class="btn btn-outline-primary mx-3 mt-2 d-block">Logout</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
            </header>
        @RenderBody()
        </div>
    </div>
    <script src="~/panel/libs/jquery/dist/jquery.min.js"></script>
    <script src="~/panel/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/panel/js/sidebarmenu.js"></script>
    <script src="~/panel/js/app.min.js"></script>
    <script src="~/panel/libs/apexcharts/dist/apexcharts.min.js"></script>
    <script src="~/panel/libs/simplebar/dist/simplebar.js"></script>
    <script src="~/panel/js/dashboard.js"></script>
</body>

</html>


